<?xml version="1.0"?>
<config>
    <modules>
        <Bongo_Postorder>
            <version>0.2.0</version>
        </Bongo_Postorder>
    </modules>
    <frontend>
        <routers>
            <postorder>
                <use>standard</use>
                <args>
                    <module>Bongo_Postorder</module>
                    <frontName>postorder</frontName>
                </args>
            </postorder>
        </routers>
        <layout>
            <updates>
                <postorder>
                    <file>bongo_postorder.xml</file>
                </postorder>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <postorder>
                <use>admin</use>
                <args>
                    <module>Bongo_Postorder</module>
                    <frontName>postorder</frontName>
                </args>
            </postorder>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <postorder>
                            <title>Postorder Module</title>
                            <sort_order>10</sort_order>
                        </postorder>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <postorder>
                                            <title>Bongo</title>
                                        </postorder>
                                        <settings>
                                            <title>Settings</title>
                                        </settings>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <menu>
            <postorder module="postorder">
                <title>Orders Log</title>
                <sort_order>71</sort_order>
                <children>
                    <items module="postorder">
                        <title>Manage Log</title>
                        <sort_order>0</sort_order>
                        <action>postorder/adminhtml_postorder</action>
                    </items>
                </children>
            </postorder>
        </menu>
        <layout>
            <updates>
                <postorder>
                    <file>bongo_postorder.xml</file>
                </postorder>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <postorder>
            <general>
                <enable_creation>1</enable_creation>
            </general>
        </postorder>
    </default>
    <global>
        <models>
            <sales>
                <rewrite>
                    <quote_address_rate>Bongo_Postorder_Model_Quote_Address_Rate</quote_address_rate>
                </rewrite>
            </sales>
            <tax>
                <rewrite>
                    <sales_total_quote_tax>Bongo_Postorder_Model_Sales_Total_Quote_Tax</sales_total_quote_tax>
                </rewrite>
            </tax>
            <postorder>
                <class>Bongo_Postorder_Model</class>
                <resourceModel>postorder_mysql4</resourceModel>
            </postorder>
            <postorder_mysql4>
                <class>Bongo_Postorder_Model_Mysql4</class>
                <entities>
                    <postorder>
                        <table>postorder</table>
                    </postorder>
                </entities>
            </postorder_mysql4>
        </models>
        <resources>
            <postorder_setup>
                <setup>
                    <module>Bongo_Postorder</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </postorder_setup>
            <postorder_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </postorder_write>
            <postorder_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </postorder_read>
        </resources>
        <blocks>
            <postorder>
                <class>Bongo_Postorder_Block</class>
            </postorder>
        </blocks>
        <helpers>
            <postorder>
                <class>Bongo_Postorder_Helper</class>
            </postorder>
        </helpers>
    </global>
</config>